:root {
  --image-width: 400px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Graphik LCG;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* стили карточек текущего сайта https://ksip.ru/case/ */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h5,
h5 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

a {
  transition: 0.3s;
}

.container {
  position: relative;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sections .item div.title {
  color: #002448;
  margin-bottom: 20px;
}

.sections div.item {
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: all 0.3s;
  box-shadow: 0px 10px 18px 2px #dfe4ea;
}

a:not(.btn) {
  text-decoration: none;
  color: #27aae2;
  background-color: transparent;
}

.sections .item div.title {
  color: #002448;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  margin-top: 16px;
  color: #002250;
}

.sections .item div.content {
  color: #6a85a3;
}

.sections .item a.more {
  text-transform: lowercase;
  margin-top: 20px;
  display: block;
}

a.more,
a.remind {
  font-weight: 500;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 18px;
}

a:not(.btn) {
  text-decoration: none;
  color: #27aae2;
}

div:not(.blog_item) a:not(.btn):hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #408aaa;
  transition: 0.3s;
}

/* стили карточек текущего сайта https://ksip.ru/otzyvy/ */

.reviews-wrapper__item {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 10px 18px 2px #dfe4ea;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: all 0.3s;
  color: #000;
  font-size: 15px;
  height: auto !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.reviews-wrapper__item blockquote {
  position: relative;
  flex: 1 0 auto;
}

.reviews-wrapper__item cite {
  color: #002448;
  font-weight: 500;
}

.reviews-wrapper__item blockquote:before {
  content: "“";
  top: -35px;
  left: -20px;
}

.reviews-wrapper__item blockquote:after {
  content: "”";
  right: -20px;
}

.reviews-wrapper__item blockquote:before,
.reviews-wrapper__item blockquote:after {
  position: absolute;
  color: #002250;
  font-size: 50px;
  font-weight: 700;
}

/* общие стили редактированное и новое */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

section {
  padding: 100px 16px;
  overflow: hidden;
}

a.more,
a.remind {
  font-variant: normal;
}

.container-slide {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.chapter {
  text-transform: uppercase;
}

.chapter .title {
  color: #27aae2;
}

.chapter .count {
  color: #989ba0;
}

.swiper .item div.title {
  color: #002448;
  margin-bottom: 20px;
}

.swiper div.item {
  background: #fff;
  padding: 35px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: all 0.3s;
  box-shadow: 0px 10px 18px 2px #dfe4ea;
}

.swiper .item div.content {
  color: #6a85a3;
}

.swiper .item a.more {
  text-transform: lowercase;
  margin-top: 20px;
  display: block;
}

.container-slide .swiper-button-next,
.swiper-button-prev {
  position: static !important;
  width: 11px !important;
}

.swiper {
  overflow: visible !important;
  display: flex !important;
  flex-direction: column;
  gap: 44px;
}

.container-slide .navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.custom-prev::before {
  content: url(assets/img/arrow_prev.svg);
}

.custom-next::before {
  content: url(assets/img/arrow_next.svg);
}

.container-slide .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-btn {
  margin: 17px 0;
}

.more-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.more-btn a:hover svg path {
  fill: #408aaa;
  transition: 0.3s;
}

/* 01 Мы в цифрах */

.indicator__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.indicator__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 44px;
  flex-basis: 570px;
}

.indicator__item {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 220px;
}

.indicator__item::before {
  content: "";
  width: 2px;
  height: 111px;
  background-color: rgba(108, 133, 164, 0.22);
  flex-shrink: 0;
}

.indicator__wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.indicator__count {
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  color: #003061;
}

.indicator__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #6c85a4;
}

/* 07 Команда  */

.team__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
}

.item-top__image {
  display: flex;
  justify-content: flex-end;
  width: var(--image-width);
  background: #f8f8f8;
  z-index: 1;
}

.team__item img {
  max-width: 100%;
  object-fit: cover;
}

.team__item-top {
  display: flex;
  justify-content: space-around;
  background: #f8f8f8;
}

.item-top__info {
  padding: 0;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 400px;
  width: 0;
  left: calc(var(--image-width) * -1);
  z-index: 0;
  transition: all 0.5s ease;
}

.team__item:hover .item-top__info {
  padding: 70px 30px 65px 20px;
  left: 0;
  width: 470px;
}

.team_swiper .swiper-slide {
  width: 35%;
  transition: width 0.5s ease;
}

.swiper-slide:hover {
  width: 74%;
}

.team__title h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 111%;
  color: #002250;
}

.team__subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #8e8e8e;
}

.team__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 146%;
  color: #000;
}

.team__list li::marker {
  content: "";
}

.team__list li::before {
  content: url(assets/img/team_bullet.svg);
  margin-right: 6px;
}

.team__item-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #32abe0;
  height: 92px;
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 190px;
}

.team__social a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  transition: 0.3s;
}

svg path {
  transition: 0.5s;
}

.team__social a:hover svg path {
  fill: #408aaa;
}

/* 10 FAQ */

summary::marker {
  content: "";
}

#faq {
  background: #f8f9fd;
}

#faq .chapter,
#faq .h2 {
  text-align: center;
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 44px;
}

.faq__item {
  border-radius: 10px;
}

.faq__item summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 24px 30px;
  backdrop-filter: blur(100px);
  background: #fff;
  color: #373739;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  transition: transform 0.3s ease-in-out;
}

details::details-content {
  opacity: 0;
  display: block;
  block-size: 0;
  overflow: hidden;
  transition: all 0.5s allow-discrete;
}
details[open]::details-content {
  opacity: 1;
  block-size: auto;
  block-size: calc-size(auto, size);
}

.faq__item[open] summary,
.faq__item summary:hover {
  color: #27aae2;
}

.faq__item summary::after {
  content: url(assets/img/arrow.svg);
  transition: all 0.5s allow-discrete;
}

.faq__item[open] summary::after {
  transform: rotate(180deg);
}

.faq__item p {
  padding: 0 30px 24px;
  background: #fff;
  cursor: pointer;
}

/* ФОРМА ЗАЯВКИ */

#form-request {
  background:
    url(assets/img/bg_request_bottom.svg) no-repeat -175px 15px,
    url(assets/img/bg_request_bottom.svg) no-repeat 1175px -450px,
    #f8f9fd;
}

.form-request__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 20px;
}

.form-request__header {
  font-weight: 600;
  font-size: 44px;
  line-height: 140%;
  color: #002448;
  max-width: 372px;
}

.form-request__header > span {
  color: #27aae2;
}

.form-request__field-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 608px;
}

.form-request__content form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.form-request__content .form-request__control-string input,
.form-request__content form textarea {
  border: 1px solid rgba(162, 167, 171, 0.6);
  border-radius: 5px;
  padding: 10px 14px;
  width: 100%;
}

.form-request__content form textarea {
  min-height: 63px;
}

.form-request__content .longtext {
  max-height: 63px;
  grid-column: span 2;
}

.form-request__content form input::placeholder,
.form-request__content form textarea::placeholder {
  font-family: Graphik LCG;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #a2a7ab;
}

.form-request__control-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #a2a7ab;
}

.form-request__control-required {
  display: block;
  color: #6c85a4;
  margin-top: 5px;
}

.form-request__btn-container button {
  border-radius: 4px;
  border: none;
  padding: 8px 36px;
  width: 100%;
  background: #37aae1;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

.form-request__control-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.form-request__control-container input[type="checkbox"] {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-request__field-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .form-request__header {
    font-size: 36px;
  }
}

@media (max-width: 468px) {
  .form-request__content .longtext {
    grid-column: span 1;
  }
}

/* ----- MQ ------ */

@media (max-width: 1000px) {
  /* all */
}

@media (max-width: 768px) {
  /* all */
  h5 {
    font-size: 16px;
  }

  .indicator__container {
    flex-direction: column;
  }
  .indicator__block {
    row-gap: 0;
    flex-basis: 450px;
  }
  #faq .chapter,
  #faq .h2 {
    text-align: left;
  }
}

@media (max-width: 530px) {
  /* all */
  .indicator__block {
    flex-basis: 340px;
    margin-top: 10px;
  }
  .indicator__item {
    gap: 30px;
  }
  .indicator__count {
    font-size: 52px;
  }
}

@media (max-width: 480px) {
  /* team */
  .team__item-top {
    flex-direction: column;
  }
  .item-top__info,
  .team__item:hover .item-top__info {
    padding: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    left: 0;
    z-index: 0;
    transition: none;
  }

  .team_swiper .swiper-slide {
    width: 35%;
    transition: none;
  }
}
